/* Some Sass variables */
body {
    margin: 0;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 1.3em;
  }
  
  .ui {
    height: 100vh;
    grid-template-rows: 40px 50px 1fr;
    background-color: #0079bf;
    color: #eee;
  }
  
  .navbar {
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  .navbar.app {
    background-color: #0067a3;
    font-size: 1.5rem;
  }
  .navbar.board {
    font-size: 1.1rem;
  }
  
  .lists {
    display: flex;
    overflow-x: auto;
    height: 80%;
  }
  .lists > * {
    flex: 0 0 auto;
    margin-left: 10px;
  }
  .lists::after {
    content: "";
    flex: 0 0 10px;
  }
  
  .clearfix {
    overflow: auto;
  }
  
  .clearfix::after{ 
    content: "";
    clear: both;
  }
  
  .lists > .card {
    width: 514px;
    height: calc(100% - 10px - 17px);
  }
  
  .lists > * {
    /* background-color: #e2e4e6; */
    
    padding: 0 10px;
  }
  
  
  .lists header {
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #888;
    margin-bottom: 10px;
    color: #333;
  }
  
  .scrollbar
  {
      overflow-y: scroll;
      margin-bottom: 25px;
  }
  
  /*
   *  STYLE 2
   */
  
   .scroll-style-2::-webkit-scrollbar-track
   {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #F5F5F5;
   }
   
   .scroll-style-2::-webkit-scrollbar
   {
     width: 8px;
     background-color: #F5F5F5;
   }
   
   .scroll-style-2::-webkit-scrollbar-thumb
   {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #888;
   }
  
   .footer {
    background: #0079bfeb;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    height: 300px;
    color: white;
  }    
  
  .flex-container {
    display: flex;
  }

  .btn-plus{
    background-color: green!important;
  }